@import "tailwindcss";

body, * {
  cursor: pointer;
  cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8"%3E%3Ccircle cx="4" cy="4" r="4" fill="white" /%3E%3C/svg%3E') 4 4, auto;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: white;
}

@media (min-width: 1281px) {
  body {
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

.scrollable-element {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --color-primary: #1b9cd2;
}

@theme {
  --breakpoint-pc: 1281px;
  --spacing-pc: 1280px;
  
  --color-primary: var(--color-primary);
}

.c-cursor {
  mix-blend-mode: color-dodge;
}